body {
    background: #f7f7f7;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background: #00000000;
    border-color: #dee2e6 #dee2e6 #f7f7f7;
}


/* Element | http://localhost:8082/ */

.overlay {
    /* height: 100\); */
    position: fixed;
    background-color: #3336;
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    display: flex;
}


.nutri-modal {
    min-width: 330px;
    width: 40vw;
    margin: auto;
    background-color: white;
    padding: 1.5em 2em;
    border-radius: 0.3em;
    /*min-height: 40vh;*/
    z-index: 102;
}
.nutri-modal > .content-container {
    overflow-y: auto;
    max-height: 80vh;
    padding: 0.5em;
}

.clickable {
    cursor: pointer;
}

@keyframes fade-in {
  0% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.0;
  }
}

@keyframes from-top{
  0% {
    margin-bottom: 100%;
  }
  100% {
    margin-bottom: inherit;
  }
}

.nutri-modal.fade-in {
  animation: 0.5s fade-in;
}

.nutri-modal.fade-out {
  animation: 0.5s fade-out;
}

.overlay.fade-in {
  animation: 0.5s fade-in;
}

.overlay.fade-out {
  animation: 0.5s fade-out;
}


